.card-imovel {
    width: 280px;
    position: relative;
}

.card-imovel .cabecalho {
    border-radius: 10px 10px 0px 0px;
}

.card-imovel img {
    width: 100%;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.card-imovel .rodape{
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom:40px;
}

.deletar{
    position: absolute;
    right: -10px;
    top: -10px;
}